    /*table.w3-table-all {
        margin: 20px 0;
    }
    */
    
    #references {
        height: 30px;
    }
    
    .w3-table-all {
        border: 1px solid #ccc;
    }
    
    .w3-table,
    .w3-table-all {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        display: table;
    }
    
    table {
        display: table;
        border-collapse: separate;
        box-sizing: border-box;
        text-indent: initial;
        border-spacing: 2px;
        border-color: grey;
    }
    
    tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }
    
    #htmltags .w3-table-all tr:nth-child(odd) {
        background-color: #f1f1f1;
    }
    
    .w3-bordered tr,
    .w3-table-all tr {
        border-bottom: 1px solid #ddd;
    }
    
    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }
    
    .w3-table th:first-child,
    .w3-table td:first-child,
    .w3-table-all th:first-child,
    .w3-table-all td:first-child {
        padding-left: 16px;
    }
    
    .w3-table td,
    .w3-table th,
    .w3-table-all td,
    .w3-table-all th {
        padding: 8px 8px;
        display: table-cell;
        text-align: left;
        vertical-align: top;
    }